h1{
    padding: 20px;
    margin:0px;
    color: red;
     font-family: 'Courgette', cursive;
    font-family: 'Flamenco', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Simonetta', cursive;;
}
