
<mat-toolbar color="primary" >


    <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over" color="primary">
  Demo APP
</button>
    <div class="spacer"></div>



    <a mat-button>Home</a>
    <a mat-button>About Us</a>
    <a mat-button>Jobs</a>
    <a mat-button>Clients</a>
    <a mat-button>Employees</a>
    <a mat-button>Contact Us</a>
  </mat-toolbar>
  <br>
  <br>
  <br>

  <div class="Container"></div>
  <div class="leftside">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <button mat-raised-button
        matTooltip="Info about the action" 
        aria-label="Button that displays a tooltip when focused or hovered over" color="primary">
       Profile
       
      </button>
      <mat-card-header><img mat-card-lg-image src="D:\Nimap-pro\Demoapp\src\app.child.jpg" >
      </mat-card-header>
      <mat-card-actions>
      <button mat-button color="red">Edit Photo</button>
      <button mat-button>Edit Profile</button>
    </mat-card-actions>
      </mat-card-title-group>
    </mat-card-header>

    <br><br><br>
   
  </mat-card>
</div>
  <div class="rightside">
  <mat-card class="example-card">
  <mat-card-content>
    I'm Caroline Kassidy and Im above 20 years and you can send your emails to 
    caroline kassidy@publicis.com. I live in the state of Alaska Hike to play hockey, football and reading
    books. And please send me newsletters. Please reach out to me on my phone number.
  </mat-card-content>
</mat-card>
</div>